@use '../01_Foundation/mixins' as mixi;

/* ----------------------------------------------------------------
    Header
----------------------------------------------------------------- */
/*
----------------------------------------------- */

.l-header {
    box-shadow: rgba(0, 0, 0, .133) 0 1.6px 3.6px 0, rgba(0, 0, 0, .11) 0 .3px .9px 0;
    border-bottom: solid 1px #ddd;

    @at-root {
        .l-header__inner {
            display: flex;
            align-items: center;
            max-width: calc(1440px + 32px);
            padding: 6px 10px;
            margin: auto;

            @include mixi.bp(pc) {
                padding: 6px 16px;
            }
        }

        .l-header__logo {
            padding-right: 16px;
            margin-right: auto;
        }
    }
}