@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: calc(1em * .625);
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-width: 320px;
  width: 100%;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}
body.is-fixed {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, input, textarea, select, option, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
pre, code, kbd, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
small {
  color: inherit;
  font-size: inherit;
}
b, em, strong {
  font-weight: bold;
  font-style: normal;
}
i {
  font-style: italic;
}
img {
  max-width: 100%;
  height: auto;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after {
  content: "";
  content: none;
}
q::before, q::after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
label {
  cursor: pointer;
}
input[type=text], textarea {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=text]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
}
input[type=checkbox], input[type=radio], ::-ms-check {
  appearance: none;
}
button, input[type=submit] {
  border: none;
  background: transparent;
  cursor: pointer;
}
hr {
  margin: 20px 0;
  border: none;
  border-bottom: solid 1px #ddd;
}
ruby {
  letter-spacing: 2px;
  font-size: 1rem;
}
rt {
  font-size: 1.2rem;
}
select {
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select::-ms-expand {
  display: none;
}
::-moz-selection {
  background: rgba(0, 100, 180, .33);
}
::selection {
  background: rgba(0, 100, 180, .33);
}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
svg {
  pointer-events: none;

  fill: currentColor;
}
use {
  display: inline;
}
[hidden] {
  display: none;
}
/* :root[data-use-keyboard]
----------------------------------------------- */
:root[data-use-keyboard=false] :focus {
  outline: 0 !important;
}
.highlight {
  position: relative;
  overflow: auto;
  padding: 40px 16px 16px;
  background-color: #272822;
  color: #fff;
}
.highlight:not(:first-child) {
  margin-top: 20px;
}
.highlight > .codehilite:first-child {
  margin-top: -20px;
}
.highlight .highlight-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 10px;
  background: #888;
  color: #fff;
  line-height: 1;
}
.highlight .lineno span {
  opacity: .25;
}
.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight .gh {
  color: #999;
}
.highlight .sr {
  color: #f6aa11;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gu {
  color: #aaa;
}
.highlight .nb {
  color: #f6aa11;
}
.highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs, .highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #75715e;
}
.highlight .err, .highlight .gr, .highlight .gt {
  color: #960050;
}
.highlight .gd, .highlight .gi, .highlight .ge {
  color: #49483e;
}
.highlight .kc, .highlight .kd, .highlight .kr, .highlight .no, .highlight .kt {
  color: #66d9ef;
}
.highlight .mf, .highlight .mh, .highlight .il, .highlight .mi, .highlight .mo, .highlight .m, .highlight .mb, .highlight .mx, .highlight .sc, .highlight .se, .highlight .ss {
  color: #ae81ff;
}
.highlight .sd, .highlight .s2, .highlight .sb, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1, .highlight .s, .highlight .sa, .highlight .dl {
  color: #e6db74;
}
.highlight .na, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .nf, .highlight .fm {
  color: #a6e22e;
}
.highlight .vc, .highlight .nn, .highlight .nl, .highlight .ni, .highlight .bp, .highlight .vg, .highlight .vi, .highlight .nv, .highlight .vm, .highlight .w, .highlight .n, .highlight .py, .highlight .nx {
  background-color: #272822;
  color: #fff;
}
.highlight .ow, .highlight .nt, .highlight .k, .highlight .kv, .highlight .kn, .highlight .kp, .highlight .o {
  color: #f92672;
}
/* ----------------------------------------------------------------
    Header
----------------------------------------------------------------- */
/*
----------------------------------------------- */
.l-header {
  border-bottom: solid 1px #ddd;
  box-shadow: rgba(0, 0, 0, .133) 0 1.6px 3.6px 0, rgba(0, 0, 0, .11) 0 .3px .9px 0;
}
.l-header__inner {
  display: flex;
  margin: auto;
  padding: 6px 10px;
  max-width: calc(1440px + 32px);
  align-items: center;
}
@media screen and (min-width: 769px) {
  .l-header__inner {
    padding: 6px 16px;
  }
}
.l-header__logo {
  margin-right: auto;
  padding-right: 16px;
}
/* ----------------------------------------------------------------
    Navigation
----------------------------------------------------------------- */
/* .l-nav
----------------------------------------------- */
.l-nav {
  flex: 1 1 320px;
  overflow: hidden;
  min-width: 180px;
  background: #fff;
  transition: height .2s ease 0s;
}
:root[data-script-enabled] .l-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}
:root:not([data-script-enabled]) .l-nav {
  margin: 0 -16px;
}
@media screen and (min-width: 769px) {
  .l-nav {
    margin-top: 30px;
    padding-top: 60px;
  }
  :root[data-script-enabled] .l-nav {
    position: relative;
  }
}
.l-nav__inner {
  overflow: auto;
  padding: 20px 16px 0;
}
@media screen and (min-width: 769px) {
  .l-nav__inner {
    padding: 0;
  }
}
.l-nav__inner > :last-child {
  padding-bottom: 20px;
}
:root[data-script-enabled] .l-nav__inner {
  min-height: calc(100 * var(--vh) - 54px);
  max-height: calc(100 * var(--vh) - 54px);
}
@media screen and (min-width: 769px) {
  :root[data-script-enabled] .l-nav__inner {
    min-height: auto;
    max-height: none;
  }
}
/* ----------------------------------------------------------------
    Main
----------------------------------------------------------------- */
/* .l-main
----------------------------------------------- */
.l-main {
  position: relative;
}
.l-main__content {
  margin: auto;
  padding: 0 10px;
  max-width: calc(1440px + 32px);
}
@media screen and (min-width: 769px) {
  .l-main__content {
    display: flex;
    padding: 0 16px;
  }
}
.l-main__content:not(:first-child) {
  margin-top: 40px;
}
.l-main__content:first-child, .admin-toolbar + .l-main__content {
  margin-top: 0;
}
@media screen and (min-width: 769px) {
  .l-main__content:first-child, .admin-toolbar + .l-main__content {
    padding-top: 80px;
  }
  .l-main__content:first-child:not(:first-child), .admin-toolbar + .l-main__content:not(:first-child) {
    margin-top: auto;
  }
  .l-main__content:first-child .l-content__main, .admin-toolbar + .l-main__content .l-content__main {
    transform: translateY(-32px);
  }
  .l-main__content:first-child::before, .admin-toolbar + .l-main__content::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background: #f5f5fe;
    content: "";
  }
}
.l-main__main-visual {
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 200px;
  max-height: 360px;
  justify-content: center;
  align-items: center;
}
.l-main__main-visual::after {
  display: block;
  padding-top: 20%;
  content: "";
}
.p-media-mainVisual {
  overflow: hidden;
  height: 100%;
  color: #fff;
}
.p-media-mainVisual__image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  max-width: none;
  width: 100%;
  transform: translate(-50%, -50%);
}
.l-main--404 .l-main__content {
  padding-top: 0;
}
.l-main--404 .l-main__content::before {
  content: none;
}
.l-main--404 .l-content__main:first-child, .l-content__main .admin-toolbar + .l-main--404 {
  transform: none;
}
.l-content {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .l-content {
    padding-left: 24px;
    max-width: calc(100% - 180px);
  }
}
@media screen and (min-width: 1280px) {
  .l-content {
    display: flex;
    padding-left: 0;
  }
}
.l-content__main {
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .l-content__main {
    padding: 0 24px;
    max-width: calc(100% - 240px);
    flex-basis: 100%;
  }
}
.l-content__inner {
  margin: auto;
  max-width: 800px;
}
.l-content__side {
  position: relative;
  margin-top: 30px;
  padding-top: 60px;
}
@media screen and (min-width: 1280px) {
  .l-content__side {
    min-width: 240px;
    max-width: 240px;
    flex-basis: 100%;
  }
}
.l-search {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 10px;
  width: 100%;
}
.l-search:first-child, .admin-toolbar + .l-search {
  padding-top: 80px;
}
.l-search:first-child::before, .admin-toolbar + .l-search::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background: #f5f5fe;
  content: "";
}
.l-search__form {
  margin: auto;
  max-width: 630px;
  width: 100%;
  transform: translateY(-50%);
}
.l-search__form + .l-search__suggest {
  margin-top: -16px;
}
.l-search__details {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 630px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.l-search__details + .l-search__suggest {
  margin-top: 14px;
}
.l-search__suggest {
  max-width: 630px;
}
/* ----------------------------------------------------------------
    Aside
----------------------------------------------------------------- */
/* .l-side
----------------------------------------------- */
.l-side_inner {
  margin: auto;
  max-width: 800px;
}
.l-side_inner:not(:first-child) {
  margin-top: 30px;
}
/* ----------------------------------------------------------------
    Footer
----------------------------------------------------------------- */
/* .l-footer
----------------------------------------------- */
.l-footer {
  background: #fafafb;
}
.l-footer:not(:first-child) {
  margin-top: 80px;
}
/* .l-footer-pageTop
----------------------------------------------- */
.l-footer-pageTop {
  position: relative;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease 0s, visibility .2s ease .2s;
  will-change: opacity;
}
.l-footer-pageTop.is-follow {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease 0s;
}
.l-footer-pageTop__link {
  position: fixed;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .6);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012.81%2020%22%3E%3Cpath%20style%3D%22fill%3A%20%23fff%3B%22%20d%3D%22M12.52%209.67l-5.29-5.29a1%201%200%200%200-.77-.38%201%201%200%200%200-.76.35l-5.3%205.32a1%201%200%200%200%201.42%201.42l3.64-3.63v11.54a1%201%200%200%200%202%200v-11.54l3.63%203.63a1%201%200%200%200%201.42-1.42z%22%2F%3E%3Crect%20style%3D%22fill%3A%20%23fff%3B%22%20x%3D%225.4%22%20y%3D%22-5.4%22%20width%3D%222.01%22%20height%3D%2212.81%22%20rx%3D%221%22%20transform%3D%22translate(7.41%20-5.4)%20rotate(90)%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: 32%;
  background-repeat: no-repeat;
  transition: background-color .2s ease 0s;
}
.l-footer-pageTop__link:hover, .l-footer-pageTop__link:active, .l-footer-pageTop__link:focus {
  background-color: #000;
}
@media screen and (min-width: 769px) {
  .l-footer-pageTop__link {
    right: 16px;
  }
}
/* ----------------------------------------------------------------
    Box
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Button
----------------------------------------------------------------- */
/* .c-button-menu
----------------------------------------------- */
.c-button-menu {
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.c-button-menu::before, .c-button-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  content: "";
}
.c-button-menu::before {
  width: 20px;
  height: 14px;
  border-top: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
}
.c-button-menu::after {
  width: 20px;
  height: 2px;
  background: #ddd;
}
.c-button-menu[aria-expanded=true]::before {
  width: 20px;
  height: 2px;
  border: 0;
  background: #ddd;
  transform: rotate(-45deg);
}
.c-button-menu[aria-expanded=true]::after {
  transform: rotate(45deg);
}
/* ----------------------------------------------------------------
    Form
----------------------------------------------------------------- */
/* .c-form-search
----------------------------------------------- */
.c-form-search {
  display: inline-flex;
  width: 100%;
}
.c-form-search__input {
  padding: 11px 84px 11px 20px;
  min-height: 64px;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, .2);
  font-size: 1.6rem;
  line-height: 1;
}
.c-form-search__submit {
  position: relative;
  overflow: hidden;
  margin-right: -64px;
  width: 64px;
  border-radius: 0 4px 4px 0;
  background-color: #ddd;
  transition: background-color .2s ease 0s;
  transform: translateX(-100%);
}
.c-form-search__submit:hover, .c-form-search__submit:active, .c-form-search__submit:focus {
  background: #333;
}
.c-form-search__submit:hover::before, .c-form-search__submit:active::before, .c-form-search__submit:focus::before {
  border-color: #fff;
}
.c-form-search__submit:hover::after, .c-form-search__submit:active::after, .c-form-search__submit:focus::after {
  background-color: #fff;
}
.c-form-search__submit::before, .c-form-search__submit::after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
}
.c-form-search__submit::before {
  top: -4px;
  right: 2px;
  width: 20px;
  height: 20px;
  border: solid 2px #333;
  border-radius: 50%;
}
.c-form-search__submit::after {
  top: 22px;
  right: -12px;
  width: 3px;
  height: 12px;
  border-radius: 4px;
  background: #333;
  transform: rotate(-30deg);
}
/* ----------------------------------------------------------------
    Heading
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Layout
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Link
----------------------------------------------------------------- */
/* .c-link
----------------------------------------------- */
.c-link {
  color: rgba(5, 95, 253, .8);
}
.c-link:hover, .c-link:active, .c-link:focus {
  text-decoration: underline;
}
/* .c-link-category
----------------------------------------------- */
.c-link-category {
  position: relative;
  display: inline-flex;
  padding: 2px 10px;
  border-radius: 20px;
  background: #333;
  color: #fff;
  font-size: 1.2rem;
  transition: opacity .2s ease 0s;

  align-self: flex-start;
}
@media screen and (min-width: 769px) {
  .c-link-category {
    padding: 3px 12px;
  }
}
.c-link-category:hover, .c-link-category:active, .c-link-category:focus {
  opacity: .8;
}
.c-link-category:focus {
  outline-width: thin;
  outline-style: dotted;
}
/* ----------------------------------------------------------------
    List
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Media
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Other
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Panel
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Table
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Text
----------------------------------------------------------------- */
/* .c-text-heading
----------------------------------------------- */
.c-text-heading {
  letter-spacing: .025em;
  font-size: 4.8rem;
  line-height: 1.75;
}
/* .c-text-lead
----------------------------------------------- */
.c-text-lead {
  letter-spacing: .025em;
  font-size: 2rem;
}
/* .c-text-weak
----------------------------------------------- */
.c-text-weak {
  font-size: 1.4rem;
}
/* .c-text-bold
----------------------------------------------- */
.c-text-bold {
  font-weight: bold;
}
/* .c-text-strong
----------------------------------------------- */
.c-text-strong {
  color: #e50027;
  font-weight: bold;
}
/* .c-text-underline
----------------------------------------------- */
.c-text-underline {
  text-decoration: underline;
  font-weight: bold;
}
/* .c-text-date
----------------------------------------------- */
.c-text-date {
  font-size: 1.4rem;
}
/* .c-text-code
----------------------------------------------- */
.c-text-code {
  overflow: auto;
  margin-right: 4px;
  padding: 6px;
  border-radius: 6px;
  background-color: #f6f8fa;
  font-size: 1.4rem;
  line-height: 1.5;
}
.c-text-code:not(:first-child) {
  margin-left: 4px;
}
/* .c-text-status
----------------------------------------------- */
.c-text-status {
  display: inline-flex;
  padding: 4px 12px;
  border: solid 1px #ddd;
  border-radius: 4px;
  background: #fff;
  font-size: 1.4rem;
}
/* ----------------------------------------------------------------
    Article
----------------------------------------------------------------- */
/* .p-article
----------------------------------------------- */
.p-article {
  margin: 0 -10px;
  padding: 16px 10px 60px;
  background: #fff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
}
@media screen and (min-width: 769px) {
  .p-article {
    margin: auto;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, .2);
  }
}
.p-article__content:not(:first-child) {
  margin-top: 30px;
}
.p-article__tag:not(:first-child) {
  margin-top: 20px;
}
.p-article--noshadow {
  margin-top: 20px;
}
@media screen and (min-width: 769px) {
  .p-article--noshadow {
    margin-top: 40px;
    box-shadow: none;
  }
}
/* .p-article-list
----------------------------------------------- */
.p-article-list:not(:first-child) {
  margin-top: 30px;
}
.p-article-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fff;
  pointer-events: none;
}
.p-article-list__item p, .p-article-list__item a[href], .p-article-list__item area[href], .p-article-list__item [tabindex], .p-article-list__item button, .p-article-list__item input, .p-article-list__item select, .p-article-list__item textarea, .p-article-list__item iframe, .p-article-list__item object, .p-article-list__item audio, .p-article-list__item video, .p-article-list__item embed, .p-article-list__item summary {
  position: relative;
  z-index: 1;
  pointer-events: auto;
}
.p-article-list__item:not(:first-child) {
  margin-top: 40px;
}
@media screen and (min-width: 769px) {
  .p-article-list__item {
    padding: 16px;
  }
}
.p-article-list__content {
  margin: 0 -10px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
@media screen and (min-width: 769px) {
  .p-article-list__content {
    margin: 0 -16px;
  }
}
.p-article-list__published {
  padding-bottom: 8px;
  font-size: 1.4rem;
  order: -1;

  align-self: flex-start;
}
@media screen and (min-width: 769px) {
  .p-article-list__published {
    padding-bottom: 10px;
  }
}
.p-article-list__tag {
  display: flex;
  margin-left: auto;
  padding-top: 10px;
  min-height: 32px;
  justify-content: flex-end;
}
@media screen and (min-width: 769px) {
  .p-article-list__tag {
    padding-top: 16px;
    min-height: 40px;
    max-width: 50%;
  }
}
/* ----------------------------------------------------------------
    Box
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Button
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Form
----------------------------------------------------------------- */
/* .p-form
----------------------------------------------- */
.p-form:not(:first-child) {
  margin-top: 30px;
}
/* ----------------------------------------------------------------
    Header
----------------------------------------------------------------- */
/* .p-header
----------------------------------------------- */
.p-header-logo {
  line-height: 0;
}
.p-header-logo__link {
  display: block;
}
/* ----------------------------------------------------------------
    Heading
----------------------------------------------------------------- */
/* .p-heading-lv1
----------------------------------------------- */
.p-heading-lv1:not(:first-child) {
  margin-top: 16px;
}
.p-heading-lv1__title {
  letter-spacing: .025em;
  font-size: 2.8rem;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .p-heading-lv1__title {
    font-size: 3rem;
  }
}
.p-heading-lv1--distantly:not(:first-child) {
  margin-top: 30px;
}
/* .p-heading-lv2
----------------------------------------------- */
.p-heading-lv2:not(:first-child) {
  margin-top: 30px;
}
.p-heading-lv2__title {
  letter-spacing: .025em;
  font-size: 2.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .p-heading-lv2__title {
    font-size: 2.8rem;
  }
}
.p-heading-lv2--distantly:not(:first-child) {
  margin-top: 60px;
}
/* .p-heading-lv3
----------------------------------------------- */
.p-heading-lv3:not(:first-child) {
  margin-top: 30px;
}
.p-heading-lv3__title {
  letter-spacing: .025em;
  font-size: 2.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .p-heading-lv3__title {
    font-size: 2.6rem;
  }
}
/* .p-heading-lv4
----------------------------------------------- */
.p-heading-lv4:not(:first-child) {
  margin-top: 30px;
}
.p-heading-lv4__title {
  letter-spacing: .025em;
  font-size: 2.2rem;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .p-heading-lv4__title {
    font-size: 2.4rem;
  }
}
/* .p-heading-lv5
----------------------------------------------- */
.p-heading-lv5:not(:first-child) {
  margin-top: 30px;
}
.p-heading-lv5__title {
  letter-spacing: .025em;
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .p-heading-lv5__title {
    font-size: 2.2rem;
  }
}
/* .p-heading-lv6
----------------------------------------------- */
.p-heading-lv6:not(:first-child) {
  margin-top: 30px;
}
.p-heading-lv6__title {
  letter-spacing: .025em;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .p-heading-lv6__title {
    font-size: 2rem;
  }
}
/* .p-heading-hidden
----------------------------------------------- */
.p-heading-hidden {
  position: relative;
  overflow: hidden;
}
.p-heading-hidden__title {
  position: absolute;
  top: -110%;
  white-space: nowrap;
  transform: translateX(-100%);
}
/* .p-heading-weak
----------------------------------------------- */
.p-heading-weak__title {
  padding-bottom: 3px;
  padding-left: 2px;
  border-bottom: solid 1px #ddd;
  color: #ddd;
  font-size: 1.6rem;
}
/* ----------------------------------------------------------------
    Layout
----------------------------------------------------------------- */
/* .p-layout-column
----------------------------------------------- */
.p-layout-column:not(:first-child) {
  margin-top: 30px;
}
.p-layout-column__list {
  display: flex;
  margin: -16px 0 0 -16px;
  flex-wrap: wrap;
}
.p-layout-column__item {
  overflow: hidden;
  margin: 16px 0 0 16px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, .2);
  font-size: 1.4rem;
  flex-basis: calc(1 / 2 * 100% - 16px);
}
@media screen and (min-width: 769px) {
  .p-layout-column__item {
    flex-basis: calc(1 / 3 * 100% - 16px);
  }
}
.p-layout-column__link {
  display: block;
  padding: 10px;
  height: 100%;
}
.p-layout-column__media {
  position: relative;
  overflow: hidden;
  margin: -10px -10px 12px;
  background: #ddd;
}
.p-layout-column__media::before {
  display: block;
  padding-top: calc(260 / 500 * 100%);
  width: 100%;
  content: "";
}
.p-layout-column__image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* .p-layout-article
----------------------------------------------- */
.p-layout-article {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 769px) {
  .p-layout-article {
    flex-direction: row-reverse;
  }
}
.p-layout-article__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-basis: 100%;
}
@media screen and (min-width: 769px) {
  .p-layout-article__content {
    padding: 16px;
  }
}
.p-layout-article__header {
  margin-top: auto;
  padding-top: 16px;
  font-size: 2rem;
}
.p-layout-article__link {
  position: static !important;
}
.p-layout-article__link:hover::before, .p-layout-article__link:active::before, .p-layout-article__link:focus::before {
  box-shadow: 6px 4px 24px 16px rgba(0, 0, 0, .125);
}
.p-layout-article__link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 4px;
  box-shadow: 6px 4px 24px 8px rgba(0, 0, 0, .1);
  content: "";
  transition: box-shadow .2s ease 0s;
}
.p-layout-article__desc {
  margin-top: 5px;
  color: #ddd;
  font-size: 1.4rem;

  align-self: flex-start;
}
.p-layout-article__media {
  position: relative;
  overflow: hidden;
  min-width: 52%;
  max-height: 320px;
}
.p-layout-article__media::before {
  display: block;
  padding-top: calc(260 / 500 * 100%);
  width: 100%;
  content: "";
}
.p-layout-article__image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* ----------------------------------------------------------------
    Link
----------------------------------------------------------------- */
/* .p-linklist-content
----------------------------------------------- */
.p-linklist-content:first-child {
  padding: 20px 14px 20px 8px;
  min-width: 220px;
}
.p-linklist-content:first-child > .p-linklist-content__item {
  font-weight: bold;
}
.p-linklist-content__item {
  position: relative;
  padding-left: 24px;
  font-weight: normal;
}
.p-linklist-content__item::before {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #333;
  content: "";
}
.p-linklist-content__item:not(:first-child) {
  margin-top: 10px;
}
.p-linklist-content__item > [class^=p-linklist] {
  margin-top: 10px;
}
.p-linklist-content__link:hover, .p-linklist-content__link:active, .p-linklist-content__link:focus {
  text-decoration: underline;
}
/* .p-linklist-post
----------------------------------------------- */
.p-linklist-post:not(:first-child) {
  margin-top: 20px;
}
.p-linklist-post__item {
  font-size: 1.4rem;
}
.p-linklist-post__item:not(:first-child) {
  margin-top: 10px;
}
.p-linklist-post__link {
  display: flex;
  overflow: hidden;
  padding: 6px;
  min-height: 54px;
  border-radius: 4px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, .2);
}
.p-linklist-post__media {
  position: relative;
  overflow: hidden;
  margin: -6px 8px -6px -6px;
  min-width: 30%;
  background: #ddd;
}
.p-linklist-post__media::before {
  display: block;
  padding-top: calc(260 / 500 * 100%);
  width: 100%;
  content: "";
}
.p-linklist-post__image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* .p-linklist-suggest
----------------------------------------------- */
.p-linklist-suggest {
  margin: auto;
  font-size: 1.4rem;
  line-height: 2;
}
.p-linklist-suggest__heading {
  display: inline;
  margin-right: 16px;
}
.p-linklist-suggest__list {
  display: inline;
}
.p-linklist-suggest__item {
  display: inline-flex;
  margin-right: 16px;
}
.p-linklist-suggest__link {
  color: #055ffd;
}
/* .p-linklist-category
----------------------------------------------- */
.p-linklist-category:not(:first-child) {
  margin-top: 20px;
}
.p-linklist-category__item {
  position: relative;
  padding-left: 30px;
  font-size: 1.4rem;
}
.p-linklist-category__item:not(:first-child) {
  margin-top: 10px;
}
.p-linklist-category__mark {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: currentColor;
}
.p-linklist-category__link:hover, .p-linklist-category__link:active, .p-linklist-category__link:focus {
  text-decoration: underline;
}
/* .p-linklist-tag
----------------------------------------------- */
.p-linklist-tag:not(:first-child) {
  margin-top: 20px;
}
.p-linklist-tag__item {
  position: relative;
  padding-left: 30px;
  font-size: 1.4rem;
}
.p-linklist-tag__item::before {
  position: absolute;
  top: 0;
  left: 9px;
  content: "#";
  font-weight: bold;
}
.p-linklist-tag__item:not(:first-child) {
  margin-top: 10px;
}
.p-linklist-tag__link:hover, .p-linklist-tag__link:active, .p-linklist-tag__link:focus {
  text-decoration: underline;
}
/* .p-linklist-tags
----------------------------------------------- */
.p-linklist-tags {
  display: inline-flex;
  margin-left: -4px;
  flex-wrap: wrap;
}
.p-linklist-tags__item {
  margin-left: 4px;
}
.p-linklist-tags__link {
  padding: 2px 14px 2px 12px;
  border-radius: 4px;
  background: rgba(5, 95, 253, .5);
  color: #fff;
  font-size: 1.2rem;
  transition: opacity .2s ease 0s;
}
.p-linklist-tags__link::before {
  margin-right: 2px;
  content: "#";
}
.p-linklist-tags__link:hover, .p-linklist-tags__link:active, .p-linklist-tags__link:focus {
  opacity: .8;
}
.p-linklist-tags__link:focus {
  outline: auto;
  outline-width: thin;
  outline-style: dotted;
}
/* ----------------------------------------------------------------
    List
----------------------------------------------------------------- */
/* .p-list
----------------------------------------------- */
.p-list:not(:first-child) {
  margin-top: 30px;
}
.p-list__item {
  position: relative;
  padding-left: 20px;
  font-size: 1.6rem;
}
.p-list__item:not(:first-child) {
  margin-top: 10px;
}
.p-list__item::before {
  position: absolute;
  top: 10px;
  left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #333;
  content: "";
}
.p-list__item > [class^=p-list] {
  margin-top: 10px;
}
/* .p-list-num
----------------------------------------------- */
.p-list-num {
  counter-reset: num;
}
.p-list-num:not(:first-child) {
  margin-top: 30px;
}
.p-list-num__item {
  padding-left: 20px;
  font-size: 1.6rem;
}
.p-list-num__item:not(:first-child) {
  margin-top: 10px;
}
.p-list-num__item::before {
  position: relative;
  left: -16px;
  content: counter(num) ".";
  counter-increment: num;
}
.p-list-num__item > [class^=p-list] {
  margin-top: 10px;
}
/* ----------------------------------------------------------------
    Media
----------------------------------------------------------------- */
/*
----------------------------------------------- */
.p-media-object {
  position: relative;
  overflow: hidden;
  margin: auto -10px;
}
@media screen and (min-width: 769px) {
  .p-media-object {
    margin: auto -16px;
  }
}
.p-media-object:not(:first-child) {
  margin-top: 10px;
}
.p-media-object::before {
  display: block;
  padding-top: calc(260 / 500 * 100%);
  width: 100%;
  content: "";
}
.p-media-object__image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* ----------------------------------------------------------------
    Navigation
----------------------------------------------------------------- */
/* .p-nav
----------------------------------------------- */
.p-nav-item:not(:first-child) {
  margin-top: 30px;
}
.p-heading-hidden + .p-nav-item {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .u-narrowNone + .p-nav-item {
    margin-top: 0;
  }
}
@media screen and (min-width: 769px) {
  .u-wideNone + .p-nav-item {
    margin-top: 0;
  }
}
/* .p-nav
----------------------------------------------- */
.p-nav-breadcrumbs:not(:first-child) {
  margin-top: 30px;
}
.p-nav-breadcrumbs__item {
  position: relative;
  display: inline;
  font-size: 1.2rem;
}
.p-nav-breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 16px;
}
.p-nav-breadcrumbs__item:not(:last-child)::after {
  content: "";
}
.p-nav-breadcrumbs__item::after {
  position: relative;
  top: -1px;
  left: 10px;
  display: inline-block;
  margin: auto;
  width: 6px;
  height: 6px;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  transform: rotate(45deg);
}
.p-nav-breadcrumbs__link:hover, .p-nav-breadcrumbs__link:active, .p-nav-breadcrumbs__link:focus {
  text-decoration: underline;
}
/* ----------------------------------------------------------------
    Other
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Panel
----------------------------------------------------------------- */
/*
----------------------------------------------- */
/* ----------------------------------------------------------------
    Table
----------------------------------------------------------------- */
/* .p-table
----------------------------------------------- */
.p-table {
  overflow: auto;
}
.p-table:not(:first-child) {
  margin-top: 30px;
}
.p-table__table {
  white-space: nowrap;
}
.p-table__header .p-table__row {
  background: #f6f8fa;
}
.p-table__body .p-table__row:nth-child(2n) {
  background: #f6f8fa;
}
.p-table__head, .p-table__desc {
  padding: 6px 12px;
  border: solid 1px #ddd;
}
.p-table__desc--center {
  text-align: center;
}
.p-table__desc--right {
  text-align: right;
}
/* ----------------------------------------------------------------
    Text
----------------------------------------------------------------- */
/* .p-text
----------------------------------------------- */
.p-text {
  letter-spacing: .025em;
  line-height: 1.75;
}
.p-text:not(:first-child) {
  margin-top: 30px;
}
.p-text--center {
  text-align: center;
}
.p-text--right {
  text-align: right;
}
.p-text--closely:not(:first-child) {
  margin-top: 10px;
}
/* .p-text-quote
----------------------------------------------- */
.p-text-quote {
  padding: 0 16px;
  border-left: 4px solid #dfe2e5;
  color: #6a737d;
}
.p-text-quote:not(:first-child) {
  margin-top: 30px;
}
.p-text-quote > .p-text-quote {
  margin-top: 10px;
}
/* .p-text-quote
----------------------------------------------- */
.p-text-code {
  overflow: auto;
  padding: 16px;
  border-radius: 6px;
  background-color: #f6f8fa;
  font-size: 1.4rem;
  line-height: 1.5;
}
.p-text-code:not(:first-child) {
  margin-top: 30px;
}
.p-text-code__text {
  display: inline;
  background-color: transparent;
  line-height: inherit;
}
/* ----------------------------------------------------------------
    Widget
----------------------------------------------------------------- */
/* .p-widget-toggle
----------------------------------------------- */
.p-widget-toggle {
  display: inline-block;
  width: 100%;
  border-top: solid 5px #ddd;
  background: rgba(221, 221, 221, .2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
}
.p-widget-toggle:not(:first-child) {
  margin-top: 30px;
}
.p-widget-toggle__button {
  display: flex;
  padding: 8px 12px;
  width: 100%;
  letter-spacing: .025em;
  font-size: 1.6rem;
  line-height: 1;
  justify-content: space-between;
  align-items: center;
}
.p-widget-toggle__heading {
  width: 100%;
}
.p-widget-toggle__content {
  overflow: hidden;
  border-top: solid 1px #ddd;
  transition: height .2s ease 0s;
}
/* .p-widget-adsense
----------------------------------------------- */
.p-widget-adsense {
  display: flex;
  justify-content: center;
}
.p-widget-adsense:not(:first-child) {
  margin-top: 20px;
}
/* ----------------------------------------------------------------
    Utility
----------------------------------------------------------------- */
/* .u-altText
----------------------------------------------- */
.u-altText {
  position: absolute;
  top: -110%;
  white-space: nowrap;
  transform: translateY(-100%);
}
/* .u-wideNone
----------------------------------------------- */
.u-wideNone {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .u-wideNone {
    display: block !important;
  }
}
/* .u-narrowNone
----------------------------------------------- */
.u-narrowNone {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .u-narrowNone {
    display: none !important;
  }
}
/* .u-noscriptNone
----------------------------------------------- */
:root:not([data-script-enabled=true]) .u-noscriptNone {
  display: none !important;
}
/* .u-scriptNone
----------------------------------------------- */
:root[data-script-enabled=true] .u-scriptNone {
  display: none !important;
}

