<footer class="l-footer">
<div class="l-footer-pageTop">
<a href="#top" class="l-footer-pageTop__link js-smooth-scroll"><span class="u-altText">ページの先頭へ</span></a>
</div>
<p><small>© 2021 Sasa Yukiya.</small></p>
</footer>