<header class="l-header">
<div class="l-header__inner">
<div class="l-header__logo">
<% if request.path == '/' %>
<h1 class="p-header-logo"><a href="/" class="p-header-logo__link"><%= image_tag('logo-with-name-01.svg', {alt: "S''Presso", class: 'p-header-logo__image', width: '140', height: '42'}) %></a></h1>
<% else %>
<p class="p-header-logo"><a href="/" class="p-header-logo__link"><%= image_tag('logo-with-name-01.svg', {alt: "S''Presso", class: 'p-header-logo__image', width: '140', height: '42'}) %></a></p>
<% end %>
</div><!-- /.l-header__logo -->
</div><!-- /.l-header__inner -->
</header>
