<header class="l-header">
<div class="l-header__inner">
<div class="l-header__logo">
<% if request.path == '/' %>
<h1 class="p-header-logo"><a href="/" class="p-header-logo__link"><%= image_tag('logo.svg', {alt: '', class: 'p-header-logo__image', width: '42px', height: '42px'}) %></a></h1>
<% else %>
<p class="p-header-logo"><a href="/" class="p-header-logo__link"><%= image_tag('logo.svg', {alt: '', class: 'p-header-logo__image', width: '42px', height: '42px'}) %></a></p>
<% end %>
</div><!-- /.l-header__logo -->
</div><!-- /.l-header__inner -->
</header>
