<div class="l-main__main-visual">
<div class="p-media-mainVisual">
<div class="p-media-mainVisual__content">
<div class="p-text p-text--center">
<b class="c-text-heading">Search Dribbble</b>
<p class="c-text-lead">6,300,000+ image from thousands of inspirational designers.</p>
</div>
</div>
<%= image_tag 'img_main-visual.jpg', {class: 'p-media-mainVisual__image', alt: ''} %>
</div>
</div>