<div class="l-main__main-visual">
<div class="p-media-mainVisual">
<div class="p-media-mainVisual__content">
<div class="p-text p-text--center">
<b class="c-text-heading"><%= image_tag 'logo-text.svg', {class: 'c-text-heading__image', alt: "S'Presso", width: '140', height: '42', decoding: 'async'} %></b>
<p class="c-text-lead"><%= @settings.site_catch %></p>
</div>
</div>
<%= image_tag 'img_main-visual.png', {class: 'p-media-mainVisual__image', alt: '', width: '516', height: '324', decoding: 'async'} %>
</div>
</div>