<h1 class="admin-heading-lv1">Media Manager</h1>
<p class="admin-button"><a href="/admin/media/new" class="admin-button-primary">新規追加</a></p>

<h2 class="admin-heading-lv2">Media</h2>

<div class="admin-layout-media">
<ul class="admin-layout-media__list">
<% @media.each do |media| %>
<li class="admin-layout-media__item"><a href="/admin/media/edit?media_id=<%= media.id %>" class="admin-layout-media__link"><div class="admin-layout-media__media"><%= image_tag media.url, {alt: media.alt_text, class: 'admin-layout-media__image'} %></div></a></li>
<% end %>
</ul>
</div>
