/* ----------------------------------------------------------------
    Button
----------------------------------------------------------------- */
/* .p-button-icon
----------------------------------------------- */
.p-button-icon {
    display: flex;

    &:not(:first-child) {
        margin-top: 14px;
    }

    &--end {
        justify-content: flex-end;
    }
}