/* ----------------------------------------------------------------
    Form
----------------------------------------------------------------- */
/* .p-form
----------------------------------------------- */
.p-form {
    &:not(:first-child) {
        margin-top: 30px;
    }

    &--center {
        display: flex;
        justify-content: center;
    }
}

/* .p-form-search
----------------------------------------------- */
.p-form-search {
    width: 100%;
    max-width: 630px;
}