@use '../01_Foundation/variables' as var;
@use '../01_Foundation/mixins' as mixi;

/* ----------------------------------------------------------------
    Media
----------------------------------------------------------------- */
/* .p-media-mainVisual
----------------------------------------------- */
.p-media-mainVisual {
    height: 100%;
    overflow: hidden;
    z-index: 0;

    @at-root {
        .p-media-mainVisual__content {
            color: var.$color-admin-coffee-03;
            text-shadow: 2px 2px 4px var.$color-admin-coffee-01;
        }

        .p-media-mainVisual__image {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: none;
            width: auto;
            height: 90%;
            transform: translate(-50%, -50%);
            opacity: .6;
            z-index: -1;
        }
    }
}

/* .p-media-object
----------------------------------------------- */
.p-media-object {
    position: relative;
    overflow: hidden;
    margin: auto -10px;

    @include mixi.bp(pc) {
        margin: auto -16px;
    }

    &:not(:first-child) {
        margin-top: 10px;
    }

    &::before {
        display: block;
        padding-top: calc(260 / 500 * 100%);
        width: 100%;
        content: "";
    }

    @at-root {
        .p-media-object__image {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: none;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }

    .p-heading-lv1 + & {
        margin-top: 30px;
    }
}