@use '../01_Foundation/mixins' as mixi;

/* ----------------------------------------------------------------
    Widget
----------------------------------------------------------------- */
/* .p-widget-toggle
----------------------------------------------- */
.p-widget-toggle {
    display: inline-block;
    width: 100%;
    background: rgba(#ddd, .2);
    border-top: solid 5px #ddd;
    box-shadow: 0 2px 3px rgba(#000, .15);

    &:not(:first-child) {
        margin-top: 30px;
    }

    @at-root {
        .p-widget-toggle__button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 8px 12px;
            font-size: 1.6rem;
            line-height: 1;
            letter-spacing: .025em;
        }

        .p-widget-toggle__heading {
            width: 100%;
        }

        .p-widget-toggle__content {
            border-top: solid 1px #ddd;
            overflow: hidden;
            transition: height .2s ease 0s;
        }
    }
}

/* .p-widget-adsense
----------------------------------------------- */
.p-widget-adsense {
    display: flex;
    justify-content: center;

    &:not(:first-child) {
        margin-top: 20px;
    }
}
