<div class="p-article">
<nav class="p-nav-breadcrumbs">
<ol class="p-nav-breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
<li class="p-nav-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="/" rel="home" class="p-nav-breadcrumbs__link"><span itemprop="name">Home</span><meta itemprop="position" content="1"></a></li>
<li class="p-nav-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="/not_found" aria-current="page" class="p-nav-breadcrumbs__link"><span itemprop="name">お探しのページが見つかりませんでした</span><meta itemprop="position" content="2"></a></li>
</ol>
</nav>

<div class="p-heading-lv1 p-heading-lv1--distantly">
<h1 class="p-heading-lv1__title">お探しのページが見つかりませんでした</h1>
</div>

<div class="p-media-object">
<%= image_tag 'img_notfound.png', {class: 'p-media-object__image', alt: '', decoding: 'async'} %>
</div>

<div class="p-text">
<p class="c-text">当サイトをご覧頂きありがとうございます。</p>
<p class="c-text">申し訳ありませんが、あなたがアクセスしようとした記事は削除されたかURLが変更されています。</p>
<p class="c-text">お手数をおかけしますが、以下の方法からもう一度目的のページをお探しください。</p>
</div>

<div class="p-heading-lv2">
<h2 class="p-heading-lv2__title">検索して見つける</h2>
</div>

<div class="p-text">
<p class="c-text">検索ボックスにお探しのコンテンツに該当するキーワードを入力して下さい。</p>
<p class="c-text">近いテーマのページのリストが表示されます。</p>
</div>

<div class="p-form p-form--center">
<form method="get" action="/search" class="p-form-search">
<div class="c-form-search">
<input type="text" name="keyword" class="c-form-search__input" placeholder="Search in site" title="サイト内検索">
<button type="submit" class="c-form-search__submit"><span class="u-altText">検索</span></button>
</div><!-- /.c-form-search -->
</form><!-- /.p-form-search -->
</div>
</div>
