<%
paths = request.path.split('/')
admin_index = paths.find_index('admin')
page_title = admin_index.nil? ? '' : paths[admin_index.to_i + 1]
last_path = paths.last
%>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= last_path == 'edit' || last_path == 'new' ? "#{last_path.capitalize} | " : '' %><%= page_title.nil? ? 'Dashboard' : page_title.capitalize %> | S''Presso Admin</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<meta name="description" content="">
<meta name="robots" content="noindex, nofollow">
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
