@use '../01_Foundation/variables' as var;
@use '../01_Foundation/mixins' as mixi;

/* ----------------------------------------------------------------
    Button
----------------------------------------------------------------- */
/* .c-button-icon
----------------------------------------------- */
.c-button-icon {
    position: relative;
    display: block;
    padding: 5px 36px 5px 48px;
    color: var.$color-font-base;
    background: var.$color-admin-coffee-03;
    border-radius: 50px;
    font-size: 1.6rem;
    box-shadow: 2px 3px 6px 1px rgba(#000, .2);
    transition: background-color .2s ease 0s, box-shadow .2s ease 0s;

    @include mixi.hover {
        background: var.$color-cream;
        box-shadow: 3px 4px 8px 4px rgba(#000, .125);
    }

    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        width: 18px;
        height: 18px;
        margin: auto;
        content: "";
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2013%22%20width%3D%2218%22%20height%3D%2213%22%3E%3Cpath%20d%3D%22M17.77%205.88l-4.97-5.57a1%201%200%200%200-1.32-.08%201%201%200%200%200-.07%201.32l3.59%204h-14.07a.93.93%200%200%200%200%201.86h14.07l-3.59%204a1%201%200%200%200%20.08%201.32.94.94%200%200%200%201.31-.08l5-5.57a1%201%200%200%200-.03-1.2z%22%2F%3E%3C%2Fsvg%3E');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &--github::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        content: "";
        width: 24px;
        height: 24px;
        margin: auto;
        border-radius: 50%;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M22.39%206.13a12%2012%200%200%200-4.39-4.48%2011.5%2011.5%200%200%200-6-1.65%2011.48%2011.48%200%200%200-6%201.65%2012%2012%200%200%200-4.39%204.48%2012.27%2012.27%200%200%200-1.61%206.17%2012.13%2012.13%200%200%200%202.29%207.23%2011.87%2011.87%200%200%200%205.91%204.47.7.7%200%200%200%20.63-.12.63.63%200%200%200%20.2-.48v-2.31l-.36.07a4.42%204.42%200%200%201-.87.05%206%206%200%200%201-1.1-.11%202.41%202.41%200%200%201-1-.48%202%202%200%200%201-.69-1l-.16-.37a3.92%203.92%200%200%200-.49-.82%201.89%201.89%200%200%200-.68-.61l-.11-.08a1.19%201.19%200%200%201-.2-.19.9.9%200%200%201-.14-.22.14.14%200%200%201%20.08-.19.94.94%200%200%201%20.45-.07l.31.05a2.16%202.16%200%200%201%20.77.38%202.63%202.63%200%200%201%20.76.83%202.82%202.82%200%200%200%20.87%201%201.8%201.8%200%200%200%201%20.34%204.51%204.51%200%200%200%20.89-.08%202.83%202.83%200%200%200%20.71-.24%202.61%202.61%200%200%201%20.76-1.65%209.76%209.76%200%200%201-1.6-.29%206.44%206.44%200%200%201-1.47-.62%204.4%204.4%200%200%201-1.26-1.08%205.26%205.26%200%200%201-.82-1.68%208.25%208.25%200%200%201-.32-2.4%204.76%204.76%200%200%201%201.24-3.3%204.38%204.38%200%200%201%20.11-3.27%202.18%202.18%200%200%201%201.29.25%209.85%209.85%200%200%201%201.31.62l.69.43a10.92%2010.92%200%200%201%206%200l.59-.36a8.79%208.79%200%200%201%201.41-.73%202.09%202.09%200%200%201%201.27-.18%204.34%204.34%200%200%201%20.12%203.27%204.76%204.76%200%200%201%201.24%203.3%208.37%208.37%200%200%201-.32%202.41%205.07%205.07%200%200%201-.83%201.68%204.44%204.44%200%200%201-1.27%201.07%206.09%206.09%200%200%201-1.47.62%209.56%209.56%200%200%201-1.6.29%202.89%202.89%200%200%201%20.86%202.27v3.38a.63.63%200%200%200%20.2.48.68.68%200%200%200%20.62.12%2011.83%2011.83%200%200%200%205.91-4.45%2012.13%2012.13%200%200%200%202.27-7.23%2012.27%2012.27%200%200%200-1.61-6.17z%22%2F%3E%3C%2Fsvg%3E');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

/* .c-button-menu
----------------------------------------------- */
.c-button-menu {
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;

    &::before,
    &::after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: "";
    }

    &::before {
        width: 20px;
        height: 14px;
        border-top: solid 2px var.$color-cream;
        border-bottom: solid 2px var.$color-cream;
    }

    &::after {
        width: 20px;
        height: 2px;
        background: var.$color-cream;
    }

    &[aria-expanded="true"] {
        &::before {
            width: 20px;
            height: 2px;
            background: var.$color-cream;
            border: 0;
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(45deg);
        }
    }
}
