@use '../01_Foundation/variables' as var;
@use '../01_Foundation/mixins' as mixi;

/* ----------------------------------------------------------------
    Form
----------------------------------------------------------------- */
/* .c-form-search
----------------------------------------------- */
.c-form-search {
    display: inline-flex;
    border-radius: 4px;
    width: 100%;
    box-shadow: 2px 3px 6px 1px rgba(#000, .2);

    @at-root {
        .c-form-search__input {
            width: 100%;
            min-height: 64px;
            padding: 11px 84px 11px 20px;
            font-size: 1.6rem;
            line-height: 1;
            border-radius: 4px;
            background: var.$color-cream;
            transition: box-shadow .2s ease 0s;

            &:focus {
                box-shadow: 0 0 0 2px var.$color-admin-coffee-01 inset;
            }
        }

        .c-form-search__submit {
            position: relative;
            overflow: hidden;
            margin-right: -64px;
            width: 64px;
            border-radius: 0 4px 4px 0;
            background-color: desaturate(var.$color-admin-coffee-01, 40%);
            transition: background-color .2s ease 0s;
            transform: translateX(-100%);

            @include mixi.hover {
                background: var.$color-admin-coffee-01;
            }

            &::before,
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: auto;
                content: "";
            }

            &::before {
                top: -4px;
                right: 2px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: solid 2px var.$color-admin-coffee-03;
            }

            &::after {
                top: 22px;
                right: -12px;
                width: 3px;
                height: 12px;
                border-radius: 4px;
                background: var.$color-admin-coffee-03;
                transform: rotate(-30deg);
            }
        }
    }
}

/* .c-form-search
----------------------------------------------- */
.c-form-min-search {
    display: inline-flex;
    border-radius: 4px;
    width: 100%;

    @at-root {
        .c-form-min-search__input {
            width: 100%;
            min-height: 40px;
            padding: 11px 84px 11px 20px;
            font-size: 1.4rem;
            line-height: 1;
            border-radius: 4px;
            background: var.$color-light-gray;
            transition: box-shadow .2s ease 0s, background-color .2s ease 0s;

            &:focus {
                background: var.$color-cream;
                box-shadow: 0 0 0 1px var.$color-admin-coffee-01 inset;
            }
        }

        .c-form-min-search__submit {
            position: relative;
            overflow: hidden;
            margin-right: -40px;
            width: 40px;
            border-radius: 0 4px 4px 0;
            transform: translateX(-100%);

            @include mixi.hover {
            }

            &::before,
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: auto;
                content: "";
            }

            &::before {
                top: -4px;
                right: 2px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: solid 2px var.$color-admin-coffee-01;
            }

            &::after {
                top: 14px;
                right: -8px;
                width: 2px;
                height: 10px;
                border-radius: 4px;
                background: var.$color-admin-coffee-01;
                transform: rotate(-30deg);
            }
        }
    }
}