/* ----------------------------------------------------------------
    Media
----------------------------------------------------------------- */
/* .c-media
----------------------------------------------- */
/* .c-media-blank
----------------------------------------------- */
.c-media-blank {
    position: relative;
    top: 2px;
    margin-left: 6px;
}