@use '../01_Foundation/mixins' as mixi;

/* ----------------------------------------------------------------
    Text
----------------------------------------------------------------- */
/* .c-text-heading
----------------------------------------------- */
.c-text-heading {
    font-size: 3.6rem;
    letter-spacing: .025em;
    line-height: 1.75;

    @include mixi.bp(pc) {
        font-size: 4.8rem;
    }

    @at-root {
        .c-text-heading__image {
            width: 200px;

            @include mixi.bp(pc) {
                width: auto;
            }
        }
    }
}

/* .c-text-lead
----------------------------------------------- */
.c-text-lead {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .125em;
}

/* .c-text-weak
----------------------------------------------- */
.c-text-weak {
    font-size: 1.4rem;
}

/* .c-text-bold
----------------------------------------------- */
.c-text-bold {
    font-weight: bold;
}

/* .c-text-strong
----------------------------------------------- */
.c-text-strong {
    font-weight: bold;
    color: #e50027;
}

/* .c-text-underline
----------------------------------------------- */
.c-text-underline {
    font-weight: bold;
    text-decoration: underline;
}

/* .c-text-date
----------------------------------------------- */
.c-text-date {
    position: relative;
    display: inline-flex;
    align-items: center;
    letter-spacing: .025em;
    overflow: hidden;

    &::before {
        display: inline-block;
        margin-right: 4px;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cg%3E%3Cpath%20style%3D%22fill%3A%236e421c%3B%22%20d%3D%22M0%207.35a7.35%207.35%200%201%200%207.35-7.35%207.35%207.35%200%200%200-7.35%207.35zm13.22%200a5.88%205.88%200%201%201-5.87-5.88%205.87%205.87%200%200%201%205.87%205.88zM6.61%202.94v4.11l-1.25%201.24a.73.73%200%200%200%20.95%201.12.3.3%200%200%200%20.08-.08l1.47-1.47a.7.7%200%200%200%20.22-.51v-4.41a.74.74%200%201%200-1.47%200z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &--updated::before {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cg%3E%3Cpath%20style%3D%22fill%3A%236e421c%3B%22%20d%3D%22M15.85%202.8a1.05%201.05%200%200%200-1.45-.38l-.22.17a1.06%201.06%200%200%200-.27.47c-.17-.23-.35-.46-.54-.68a7.44%207.44%200%200%200-3-2%207.76%207.76%200%200%200-1.75-.38%207.24%207.24%200%200%200-1.86.1%207.35%207.35%200%200%200-1.85.57%207%207%200%200%200-1.6%201%207.12%207.12%200%200%200-1.31%201.33%207.45%207.45%200%200%200-.89%201.64c0%20.13-.09.25-.13.38a1.07%201.07%200%200%200%20.1.82%201.12%201.12%200%200%200%20.64.49%201.12%201.12%200%200%200%20.82-.11%201.16%201.16%200%200%200%20.49-.64c0-.1.07-.2.11-.3a6.59%206.59%200%200%201%20.7-1.2%205.72%205.72%200%200%201%20.96-.88%206.12%206.12%200%200%201%201.13-.67%206.34%206.34%200%200%201%201.36-.36%206.09%206.09%200%200%201%201.35%200%206.15%206.15%200%200%201%201.36.36%206.41%206.41%200%200%201%201.16.68%205.76%205.76%200%200%201%20.84.89l-.27-.1a1.07%201.07%200%200%200-.82.11%201.1%201.1%200%200%200-.49.63%201.06%201.06%200%200%200%20.11.82l.16.22a1.11%201.11%200%200%200%20.47.27l2.27.79.32.11a.75.75%200%200%200%20.42%200h.14l.12-.06h.14l.09-.08.09-.07a1.08%201.08%200%200%200%20.28-.47c.26-.76.52-1.51.79-2.27%200-.1.07-.21.11-.32a1.08%201.08%200%200%200-.08-.88zM14.86%208.69a1.07%201.07%200%200%200-.63-.49%201.12%201.12%200%200%200-.82.11%201.14%201.14%200%200%200-.49.63%202.77%202.77%200%200%201-.1.26%206.06%206.06%200%200%201-.7%201.2%206.52%206.52%200%200%201-.91.91%205.87%205.87%200%200%201-1.16.68%206.17%206.17%200%200%201-1.34.36%206.09%206.09%200%200%201-1.35%200%206.15%206.15%200%200%201-1.36-.35%206.41%206.41%200%200%201-1.16-.68%206.24%206.24%200%200%201-.84-.9l.28.1a1.07%201.07%200%200%200%20.82-.11%201.1%201.1%200%200%200%20.49-.63%201.06%201.06%200%200%200-.12-.78l-.16-.22a1.06%201.06%200%200%200-.47-.27l-2.27-.83-.32-.11a.75.75%200%200%200-.42%200h-.14a.39.39%200%200%200-.11.06h-.15l-.09.08-.09.07a1.06%201.06%200%200%200-.25.53l-.8%202.26c0%20.11-.07.22-.11.32a1.07%201.07%200%200%200%20.11.82%201.1%201.1%200%200%200%20.63.49%201.11%201.11%200%200%200%20.82-.1%201.84%201.84%200%200%201%20.22-.17%201.06%201.06%200%200%200%20.27-.47%207.25%207.25%200%200%200%20.53.68%207.4%207.4%200%200%200%203%202%207.61%207.61%200%200%200%201.76.4%207.18%207.18%200%200%200%201.85-.07%207.11%207.11%200%200%200%201.86-.55%206.88%206.88%200%200%200%201.61-1%207.39%207.39%200%200%200%201.27-1.35%207.2%207.2%200%200%200%20.9-1.63l.14-.38a1%201%200%200%200-.2-.87z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        background-size: 90%;
    }

    &--blank {
        margin: auto 6px;

        &::before {
            content: none;
        }
    }
}

/* .c-text-code
----------------------------------------------- */
.c-text-code {
    padding: 4px 6px;
    overflow: auto;
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: #e9eaeb;
    border-radius: 6px;
    margin-right: 4px;

    &:not(:first-child) {
        margin-left: 4px;
    }
}

/* .c-text-status
----------------------------------------------- */
.c-text-status {
    display: inline-flex;
    border: solid 1px #ddd;
    padding: 4px 12px;
    font-size: 1.4rem;
    border-radius: 4px;
    background: #fff;
}
